# Build dataset for training 'satire/not satire' classifier

## Scrap news articles from 'theonion.com' (satire news articles)

In [1]:
import re
import time
import requests
from bs4 import BeautifulSoup

import pandas as pd
import seaborn as sns

In [ ]:
base = 'https://www.theonion.com'
r = requests.get(base+'/breaking-news/news?')
soup = BeautifulSoup(r.text, 'html.parser')

s=Service('C:\\Users\\Li Xuan\\Desktop\\FYP\\chromedriver')
browser = webdriver.Chrome(service=s)
url='https://www.theonion.com/breaking-news/news'
browser.get(url)

In [ ]:
base = 'https://www.theonion.com/breaking-news/news?startIndex='
startIdx = 20;
i = 1;
linksToArticles = [];

while(i < 101):
    currentIdx = str( i * startIdx);
    r = requests.get(base+currentIdx)
    soup = BeautifulSoup(r.text, 'html.parser')
    for entry in soup.find_all('a', href=True):
        linksToArticles.append(entry['href'])
        linksToArticles = list(set(linksToArticles))
        
    for link in linksToArticles:
        if link[0] == '/' or link[0]=='?':
            linksToArticles.remove(link)
    i+=1;
        

linksToArticles.sort(key=len, reverse=True)
linksToArticles = linksToArticles[:20 * (i-1)]

In [ ]:
# get all news articles from the links

articles = []
headlines = []

for link in linksToArticles:
    r = requests.get(link)
    soup = BeautifulSoup(r.text, 'html.parser')

    article = "";
    obj = soup.find_all("p", class_="sc-77igqf-0 bOfvBY")
    headline = soup.find('h1', class_ = "sc-1efpnfq-0 iQQrUa").text

    i = 0;
    for entry in obj:
        article+=entry.text;
    articles.append(article);
    headlines.append(headline);

In [ ]:
# Save news articles from theonion.com to CSV file

articles_dict = {"title": headlines,"text":articles}
df = pd.DataFrame(articles_dict)
df.to_csv('theOnionArticles.csv', index = False)

In [2]:
# Create dataframe from 'theOnionArticles.csv'

onion_df = pd.read_csv("theOnionArticles.csv", index_col=False)
onion_df.head()

,title,text
0,Maverick Hunter's 'Human Beings As Prey' Plan ...,PERIL ISLAND—Big-game hunter Baron Hugo von Ur...
1,Scientists Make Unclear Breakthrough After Giv...,"STANFORD, CA—Theorizing that their work most l..."
2,Astronomers Discover Planet Identical To Earth...,WASHINGTON—In what many are hailing as the mos...
3,Every Brand Of Alcohol Reminds Man Of A Differ...,"HALLANDALE, FL–Randy Streeter, a 32-year-old s..."
4,Archaeologists Discover Remnants Of Legendary ...,"COLUMBIA, SC—Archaeologists excavating the tra..."

## Create dataframe for true news

In [3]:
import random

In [4]:
file_name = 'Kaggle dataset/True.csv'
true_df = pd.read_csv(file_name, index_col=False)

# Get 2000 random rows from the true news dataframe

not_onion_df = pd.DataFrame()
true_df_size = true_df.shape[0]
randomIdx = random.sample(range(true_df_size), 2000)

for idx in randomIdx:
    entry = true_df.iloc[[idx]]
    not_onion_df = not_onion_df.append(entry)
    
not_onion_df.head()

,title,text,subject,date
15061,Trump offers to mediate in South China Sea dis...,HANOI (Reuters) - U.S. President Donald Trump ...,worldnews,"November 12, 2017"
19981,France condemns latest North Korean missile la...,PARIS (Reuters) - France on Friday condemned t...,worldnews,"September 15, 2017"
4690,"For Trump, it was the lost art of the deal","WASHINGTON (Reuters) - In the end, the Closer ...",politicsNews,"March 25, 2017"
15552,Pakistani diplomat shot in Afghanistan,"JALALABAD, Afghanistan (Reuters) - A Pakistani...",worldnews,"November 6, 2017"
12680,European states push U.S. for detailed Middle ...,"UNITED NATIONS (Reuters) - Britain, France, Ge...",worldnews,"December 8, 2017"

## Data cleaning/preprocessing

In [5]:
import wordcloud
from wordcloud import WordCloud
import numpy as np
import contractions
import string
import matplotlib.pyplot as plt
import re


# nltk.download('stopwords')
# # required to tokenize strings
# nltk.download('punkt')
# nltk.download('wordnet')
# # required to perform parts-of-speech tagging
# nltk.download('averaged_perceptron_tagger')
# from nltk.corpus import wordnet, stopwords
# from nltk.stem import WordNetLemmatizer
# from nltk.tokenize import word_tokenize

import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords

from nltk.stem import WordNetLemmatizer

In [8]:
# # remove any rows from the 2 dataframes that have NaN values

onion_df = onion_df.dropna()
not_onion_df = not_onion_df.dropna()

In [9]:
# remove location precursor from each article

for index in onion_df.index:
    if "—" in onion_df.loc[index,"text"]:
        updated = onion_df.loc[index,'text'].split("—")
        onion_df.loc[index,'text'] = updated[1]
        

for index in not_onion_df.index:
    if ") - " in not_onion_df.loc[index,"text"]:
        updated = not_onion_df.loc[index,'text'].split(") - ")
        not_onion_df.loc[index,'text'] = updated[1]

In [93]:
onion_df.iloc[[1156]]

                                                  title text
1158  Historical Archives: Satan, Dark Harbinger Of ...

In [7]:
# Label each entry in the dataframe whether satire or not

onion_df['satire/not satire'] = 1
not_onion_df['satire/not satire'] = 0

not_onion_df = not_onion_df.drop(['subject','date'],axis = 1)
not_onion_df = not_onion_df.reset_index()

In [10]:
onion_df.head()

,title,text,satire/not satire
0,Maverick Hunter's 'Human Beings As Prey' Plan ...,Big-game hunter Baron Hugo von Urwitz conceded...,1
1,Scientists Make Unclear Breakthrough After Giv...,Theorizing that their work most likely represe...,1
2,Astronomers Discover Planet Identical To Earth...,In what many are hailing as the most significa...,1
3,Every Brand Of Alcohol Reminds Man Of A Differ...,"HALLANDALE, FL–Randy Streeter, a 32-year-old s...",1
4,Archaeologists Discover Remnants Of Legendary ...,Archaeologists excavating the train tracks out...,1

In [11]:
not_onion_df.head()

,index,title,text,satire/not satire
0,15061,Trump offers to mediate in South China Sea dis...,U.S. President Donald Trump said on Sunday tha...,0
1,19981,France condemns latest North Korean missile la...,France on Friday condemned the latest missile ...,0
2,4690,"For Trump, it was the lost art of the deal","In the end, the Closer couldn’t close the deal...",0
3,15552,Pakistani diplomat shot in Afghanistan,A Pakistani diplomatic official was shot by un...,0
4,12680,European states push U.S. for detailed Middle ...,"Britain, France, Germany, Sweden and Italy cal...",0

## Combine dataframes of true news and 'The Onion' news

In [12]:
satire_df = pd.DataFrame()
satire_df = pd.concat([onion_df, not_onion_df], axis=0)
satire_df=satire_df.drop(['index'],axis=1)

satire_df

,title,text,satire/not satire
0,Maverick Hunter's 'Human Beings As Prey' Plan ...,Big-game hunter Baron Hugo von Urwitz conceded...,1
1,Scientists Make Unclear Breakthrough After Giv...,Theorizing that their work most likely represe...,1
2,Astronomers Discover Planet Identical To Earth...,In what many are hailing as the most significa...,1
3,Every Brand Of Alcohol Reminds Man Of A Differ...,"HALLANDALE, FL–Randy Streeter, a 32-year-old s...",1
4,Archaeologists Discover Remnants Of Legendary ...,Archaeologists excavating the train tracks out...,1
...,...,...,...
1995,U.S. senators say Cuba's Castro keen to contin...,Cuban President Raul Castro made it clear to a...,0
1996,"Italy's 5-Star launches vote for leader, Di Ma...","Italy s anti-establishment 5-Star Movement, wh...",0
1997,"In rural-urban divide, U.S. voters are worlds ...",Semi-retired Wisconsin pig farmer John Lader d...,0
1998,Airlines in Cairo asked to implement Trump tra...,Airlines operating at Cairo airport were offic...,0
1999,Michigan governor issues appeal over Flint fun...,Michigan Governor Rick Snyder has urged federa...,0

In [13]:
# Reset index
satire_df=satire_df.reset_index(drop=True)

satire_df

,title,text,satire/not satire
0,Maverick Hunter's 'Human Beings As Prey' Plan ...,Big-game hunter Baron Hugo von Urwitz conceded...,1
1,Scientists Make Unclear Breakthrough After Giv...,Theorizing that their work most likely represe...,1
2,Astronomers Discover Planet Identical To Earth...,In what many are hailing as the most significa...,1
3,Every Brand Of Alcohol Reminds Man Of A Differ...,"HALLANDALE, FL–Randy Streeter, a 32-year-old s...",1
4,Archaeologists Discover Remnants Of Legendary ...,Archaeologists excavating the train tracks out...,1
...,...,...,...
3989,U.S. senators say Cuba's Castro keen to contin...,Cuban President Raul Castro made it clear to a...,0
3990,"Italy's 5-Star launches vote for leader, Di Ma...","Italy s anti-establishment 5-Star Movement, wh...",0
3991,"In rural-urban divide, U.S. voters are worlds ...",Semi-retired Wisconsin pig farmer John Lader d...,0
3992,Airlines in Cairo asked to implement Trump tra...,Airlines operating at Cairo airport were offic...,0
3993,Michigan governor issues appeal over Flint fun...,Michigan Governor Rick Snyder has urged federa...,0

## Exploratory Data Analysis

In [ ]:
fig, ax = plt.subplots(figsize=(4,4))
sns.countplot(x='satire/not satire', hue='satire/not satire', data=satire_df, palette="Set1")
plt.show()

In [ ]:
# Generate a wordcloud object to get a visualization of the distribution of words in the corpus

words = ' '.join([text for text in satire_df['text']])
wordcloud = WordCloud(width=1000, height=500, background_color='black', max_font_size=200).generate(words)
plt.figure(figsize=(10, 5))
plt.imshow(wordcloud, interpolation="bilinear")
plt.title('All words', fontsize=20)
plt.axis('off')
plt.show()

In [ ]:
# Get frequency of each words. For creating custom stopwords list
freq_dict = WordCloud().process_text(words)

# sort the dictionary from most frequently occuring to least frequently occuring
freq_dict_sorted = sorted(freq_dict.items(), key=lambda x: x[1], reverse=True)

# shortlist the 5 most frequently occuring words
print('The 5 most frequently occuring words in the dataframe are:')
for idx in range(len(freq_dict_sorted[:5])):
    print(freq_dict_sorted[idx][0], "-", freq_dict_sorted[idx][1])

## Tokenization and Stopwords removal

On removing stopwords, dataset size decreases and the time to train the model also decreases
Removing stopwords can potentially help improve the performance as there are fewer and only meaningful tokens left. Thus, it could increase classification accuracy

In [14]:
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords

from sklearn.feature_extraction.text import CountVectorizer

In [15]:
tokenizer = nltk.RegexpTokenizer(r"\w+")

satire_df['text'] = [text.lower() for text in satire_df['text']]

#Convert all text to word tokens
satire_df['tokenized text'] = [tokenizer.tokenize(text) for text in satire_df['text']]

satire_df

,title,text,satire/not satire,tokenized text
0,Maverick Hunter's 'Human Beings As Prey' Plan ...,big-game hunter baron hugo von urwitz conceded...,1,"[big, game, hunter, baron, hugo, von, urwitz, ..."
1,Scientists Make Unclear Breakthrough After Giv...,theorizing that their work most likely represe...,1,"[theorizing, that, their, work, most, likely, ..."
2,Astronomers Discover Planet Identical To Earth...,in what many are hailing as the most significa...,1,"[in, what, many, are, hailing, as, the, most, ..."
3,Every Brand Of Alcohol Reminds Man Of A Differ...,"hallandale, fl–randy streeter, a 32-year-old s...",1,"[hallandale, fl, randy, streeter, a, 32, year,..."
4,Archaeologists Discover Remnants Of Legendary ...,archaeologists excavating the train tracks out...,1,"[archaeologists, excavating, the, train, track..."
...,...,...,...,...
3989,U.S. senators say Cuba's Castro keen to contin...,cuban president raul castro made it clear to a...,0,"[cuban, president, raul, castro, made, it, cle..."
3990,"Italy's 5-Star launches vote for leader, Di Ma...","italy s anti-establishment 5-star movement, wh...",0,"[italy, s, anti, establishment, 5, star, movem..."
3991,"In rural-urban divide, U.S. voters are worlds ...",semi-retired wisconsin pig farmer john lader d...,0,"[semi, retired, wisconsin, pig, farmer, john, ..."
3992,Airlines in Cairo asked to implement Trump tra...,airlines operating at cairo airport were offic...,0,"[airlines, operating, at, cairo, airport, were..."
3993,Michigan governor issues appeal over Flint fun...,michigan governor rick snyder has urged federa...,0,"[michigan, governor, rick, snyder, has, urged,..."

In [16]:
# create bag-of-words model
vectorizer = CountVectorizer()
all_docs = list(satire_df['text'])

X = vectorizer.fit_transform(all_docs).toarray()
bow = pd.DataFrame(X, columns = vectorizer.get_feature_names())

bow

,00,000,0000,000270,0003,00042,0005,000938,000s,000th,...,zzz,æthelmearc,éclaires,émigré,émile,époque,état,östersund,übermenschen,ÿ92
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3989,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3990,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3991,0,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3992,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3993,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
stop_words = stopwords.words('english')
custom_stop_words = ['U S', 'said', 'will', 'one', 'people']
stop_words.extend(custom_stop_words)

# remove stopwords from all articles
satire_df['stopwords removed'] = satire_df['tokenized text'].apply(lambda tokens: [token for token in tokens if token not in stop_words])

# remove numeric values from all articles
satire_df['stopwords removed'] = satire_df['stopwords removed'].apply(lambda tokens: [token for token in tokens if not token.isdigit()])

# remove words that are not improper (contains numbers in them)
satire_df['stopwords removed'] = satire_df['stopwords removed'].apply(lambda tokens: [token for token in tokens if not bool(re.search(r'\d', token))])

## Lemmatization

In [19]:
# Apply lemmatization to attempt to convert each word to its root morpheme
lemmatizer = WordNetLemmatizer()
satire_df['lemmatized'] = satire_df['stopwords removed'].apply(lambda tokens: [lemmatizer.lemmatize(token) for token in tokens])

In [20]:
# join back tokens to get back original string from each list of tokens
satire_df['processed text'] = satire_df['lemmatized'].apply(lambda lemmatizedList: ' '.join([word for word in lemmatizedList]))

In [21]:
# create bag-of-words model
all_docs = list(satire_df['processed text'])
X = vectorizer.fit_transform(all_docs).toarray()
bow = pd.DataFrame(X, columns = vectorizer.get_feature_names())

bow

,aa,aaaaaaarrrrgggghhh,aacr,aaf,aah,aahed,aal,aao,aapl,aapp,...,zyuganov,zzz,æthelmearc,éclaires,émigré,émile,époque,état,östersund,übermenschen
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3989,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3990,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3991,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3992,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3993,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
# save data as csv file

satire_df.to_csv('satire or not.csv', index = False)

In [23]:
satire_df = pd.read_csv("satire or not.csv", index_col=False)
satire_df = satire_df.dropna()

# Build classifiers

In [74]:
satire2_df[satire2_df.isna().any(axis=1)]

,title,text,satire/not satire,tokenized text,stopwords removed,lemmatized,processed text
1156,"Historical Archives: Satan, Dark Harbinger Of ...",NaN,1,[],[],[],NaN
2193,Graphic: Supreme Court roundup,,0,[],[],[],NaN

In [81]:
onion_df.iloc[[1156]]

,title,text,satire/not satire
1158,"Historical Archives: Satan, Dark Harbinger Of ...",,1

In [77]:
satire_df.iloc[[1156]]

,title,text,satire/not satire,tokenized text,stopwords removed,lemmatized,processed text
1156,"Historical Archives: Satan, Dark Harbinger Of ...",,1,[],[],[],

In [24]:
from sklearn.model_selection import train_test_split
from sklearn import metrics

from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import TfidfVectorizer

from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score

In [68]:
satire_df = satire_df.dropna()

satire_df

,title,text,satire/not satire,tokenized text,stopwords removed,lemmatized,processed text
0,Maverick Hunter's 'Human Beings As Prey' Plan ...,big-game hunter baron hugo von urwitz conceded...,1,"[big, game, hunter, baron, hugo, von, urwitz, ...","[big, game, hunter, baron, hugo, von, urwitz, ...","[big, game, hunter, baron, hugo, von, urwitz, ...",big game hunter baron hugo von urwitz conceded...
1,Scientists Make Unclear Breakthrough After Giv...,theorizing that their work most likely represe...,1,"[theorizing, that, their, work, most, likely, ...","[theorizing, work, likely, represents, groundb...","[theorizing, work, likely, represents, groundb...",theorizing work likely represents groundbreaki...
2,Astronomers Discover Planet Identical To Earth...,in what many are hailing as the most significa...,1,"[in, what, many, are, hailing, as, the, most, ...","[many, hailing, significant, development, hist...","[many, hailing, significant, development, hist...",many hailing significant development history s...
3,Every Brand Of Alcohol Reminds Man Of A Differ...,"hallandale, fl–randy streeter, a 32-year-old s...",1,"[hallandale, fl, randy, streeter, a, 32, year,...","[hallandale, fl, randy, streeter, year, old, s...","[hallandale, fl, randy, streeter, year, old, s...",hallandale fl randy streeter year old sale ass...
4,Archaeologists Discover Remnants Of Legendary ...,archaeologists excavating the train tracks out...,1,"[archaeologists, excavating, the, train, track...","[archaeologists, excavating, train, tracks, qu...","[archaeologist, excavating, train, track, quar...",archaeologist excavating train track quarry an...
...,...,...,...,...,...,...,...
3989,"Trump chooses congressman, former SEAL Zinke a...",president-elect donald trump has chosen first-...,0,"[president, elect, donald, trump, has, chosen,...","[president, elect, donald, trump, chosen, firs...","[president, elect, donald, trump, chosen, firs...",president elect donald trump chosen first term...
3990,China complains to Australia over Turnbull com...,china said on friday it had lodged a complaint...,0,"[china, said, on, friday, it, had, lodged, a, ...","[china, friday, lodged, complaint, australia, ...","[china, friday, lodged, complaint, australia, ...",china friday lodged complaint australia prime ...
3991,"Chinese fans prepare to welcome rich, powerful...","he may be a divisive figure back home, but u.s...",0,"[he, may, be, a, divisive, figure, back, home,...","[may, divisive, figure, back, home, u, preside...","[may, divisive, figure, back, home, u, preside...",may divisive figure back home u president dona...
3992,Russia to help Syria rebuild energy facilities...,russia will be the only country to take part i...,0,"[russia, will, be, the, only, country, to, tak...","[russia, country, take, part, rebuilding, syri...","[russia, country, take, part, rebuilding, syri...",russia country take part rebuilding syrian ene...
3993,No proof Russian hacking influenced U.S. elect...,no evidence has emerged to suggest russian hac...,0,"[no, evidence, has, emerged, to, suggest, russ...","[evidence, emerged, suggest, russian, hacking,...","[evidence, emerged, suggest, russian, hacking,...",evidence emerged suggest russian hacking influ...

In [25]:
# create corpus from all preprocessed tweets in corpus
# all_docs = list(satire_df['processed text'])

satire_df = pd.read_csv("satire or not.csv", index_col=False)
satire_df = satire_df.dropna()

# split dataset into training and testing dataset
X = list(satire_df['processed text'])
Y = list(satire_df['satire/not satire'])
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.33, random_state = 0)

In [70]:
# split dataset into training and testing dataset
X = list(satire_df['processed text'])
Y = list(satire_df['satire/not satire'])
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.33, random_state = 0)

# Implement the multinomial NB classifier 
mnb_classifier = MultinomialNB()

# Initialize count vectorizer with default hyperparameter values
count_v = CountVectorizer()

# convert training data into a bag of words model
x_train_count = count_v.fit_transform(x_train)

# train model
mnb_classifier.fit(x_train_count, y_train)

# make prediction
x_test_count = count_v.transform(x_test)
y_pred_count = mnb_classifier.predict(x_test_count)

print("The accuracy of the baseline model is: " + str(round(accuracy_score(y_test, y_pred_count), 5)))

The accuracy of the baseline model is: 0.9674

Vectorization is the process of feature building, by turning text into numerical vectors. In text
processing, words of the articles represent categorical features. This is a crucial step, as machine
learning algorithms are unable to understand plain text. The most commonly used methods for this
task are the Count Vectorizer and the Tf-IDF Vectorizer. Using a Count Vectorizer creates a Bag of
words that counts the frequency of each word. However, using a Tf-IDF Vectorizer increases the value
of the word proportionally to its count in a document, but is inversely proportional to its frequency in
the corpus

## Naive Bayes Classifier

### baseline model

With countVectorizer, we first build a baseline Naive Bayes classifier using the default hyperparameter values.

In [26]:
# Implement the multinomial NB classifier 
mnb_classifier = MultinomialNB()

# Initialize count vectorizer with default hyperparameter values
count_v = CountVectorizer()

# convert training data into a bag of words model
x_train_count = count_v.fit_transform(x_train)

# train model
mnb_classifier.fit(x_train_count, y_train)

# make prediction
x_test_count = count_v.transform(x_test)
y_pred_count = mnb_classifier.predict(x_test_count)

print("The accuracy of the baseline model is: " + str(round(accuracy_score(y_test, y_pred_count), 5)))

The accuracy of the baseline model is: 0.97269

### Hyperparameter tuning

In [27]:
# min_df and max_df values hyperparameter values to be tuned
maxDfs = [1.0, 0.99, 0.98, 0.97, 0.96]
minDfs = [1, 2, 3, 4, 5]

### CountVectorizer

In [29]:
# initialize empty list to store results of each iteration of classifier with different hyperparameter settings
mnb_cv_results = []

best_cv = CountVectorizer()
best_cv_acc = -1;

# train classifier with different n-gram ranges, minDF and max_df
for ngram_val in range(1,6):
    for minDf_idx in range(len(minDfs)):
        for maxDf_idx in range(len(maxDfs)):
            count_v = CountVectorizer(ngram_range=(1,ngram_val), min_df = minDfs[minDf_idx], max_df = maxDfs[maxDf_idx])

            # convert training data into a bag of words model
            x_train_count = count_v.fit_transform(x_train)
            x_test_count = count_v.transform(x_test)

            # train model and generate predictions
            mnb_classifier.fit(x_train_count, y_train)
            y_pred_count = mnb_classifier.predict(x_test_count)
            
            # compute precision, recall, accuracy
            recall = round(recall_score(y_test, y_pred_count),5)
            precision = round(precision_score(y_test, y_pred_count),5)
            acc = round(accuracy_score(y_test, y_pred_count),5)
            
            # If accuracy score is higher than the last highest accuracy score saved
            if acc > best_cv_acc:
                # replace last saved vectorizer with current one
                best_cv = count_v
                best_cv_acc = acc
            
            result = [minDfs[minDf_idx], maxDfs[maxDf_idx], ngram_val, recall, precision, acc]
            mnb_cv_results.append(result)

In [39]:
best_cv

CountVectorizer(min_df=2, ngram_range=(1, 2))

In [36]:
mnb_cv_df = pd.DataFrame (mnb_cv_results, columns = ['min_df', 'max_df', 'ngam_range', 'recall', 'precision', 'accuracy score'])
mnb_cv_df = mnb_cv_df.sort_values(by=['accuracy score'], ascending=False)
mnb_cv_df.head(5)

    min_df  max_df  ngam_range   recall  precision  accuracy score
31       2    0.99           2  0.97872    0.98321         0.98103
32       2    0.98           2  0.97872    0.98321         0.98103
33       2    0.97           2  0.97872    0.98321         0.98103
34       2    0.96           2  0.97872    0.98321         0.98103
30       2    1.00           2  0.97872    0.98321         0.98103

In [47]:
mnb_classifier = MultinomialNB(alpha = 0)


count_v = CountVectorizer(ngram_range=(1,2), min_df =2)

# convert training data into a bag of words model
x_train_count = count_v.fit_transform(x_train)
x_test_count = count_v.transform(x_test)

# train model and generate predictions
mnb_classifier.fit(x_train_count, y_train)
y_pred_count = mnb_classifier.predict(x_test_count)

# compute precision, recall, accuracy
recall = round(recall_score(y_test, y_pred_count),5)
precision = round(precision_score(y_test, y_pred_count),5)
acc = round(accuracy_score(y_test, y_pred_count),5)
acc

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\naive_bayes.py:508: UserWarning: alpha too small will result in numeric errors, setting alpha = 1.0e-10
  warnings.warn('alpha too small will result in numeric errors, '

0.98558

Out of 125 combinations of different min_df, max_df and gram_range values, the following combination used for the hyperparameters of CountVectorizer give the best accuracy score for the naive bayes classifier:
    
min_df = 2 <br>
max_df = 0.96 (default) <br>
ngram_range = (1,3)

### TFIDF Vectorizer

With Tfidfvectorize on the contrary, you will do all three steps at once. Under the hood, it computes the word counts, IDF values, and TF-IDF scores all using the same data set.

TF-IDF is better than Count Vectorizers because it not only focuses on the frequency of words present in the corpus but also provides the importance of the words. We can then remove the words that are less important for analysis, hence making the model building less complex by reducing the input dimensions.


TFIDF is based on the logic that words that are too abundant in a corpus and words that are too rare are both not statistically important for finding a pattern. The Logarithmic factor in tfidf mathematically penalizes the words that are too abundant or too rare in the corpus by giving them low tfidf scores.

Higher value of tfidf signifies higher importance of the words in the corpus while lower values represent lower importance. In the above example the word "AI" is present in both the sentences while words "Natural" and "Computer" are present only in one sentences each. Hence the tfidf value of "AI" is lower than the other two. While for the word "Natural" there are more words in Text1 hence its importance is lower than "Computer" since there are less number of words in Text2.


Even though TFIDF can provide a good understanding about the importance of words but just like Count Vectors, its disadvantage is:

It fails to provide linguistic information about the words such as the real meaning of the words, similarity with other words etc.

To train a model on the actual linguistic relationship of the words, there are two other word embedding techniques widely used in NLP, they are "word2vec" and "Glove". I will discuss about these two in another article.

In [30]:
# initialize empty list to store results of each iteration of classifier with different hyperparameter settings
mnb_tfidf_results = []

best_tfidf_v = TfidfVectorizer()
best_tfidf_v_acc = -1;

# train classifier with different n-gram ranges, minDF and max_df
for ngram_val in range(1,6):
    for minDf_idx in range(len(minDfs)):
        for maxDf_idx in range(len(maxDfs)):
            tfidf_v = TfidfVectorizer(ngram_range=(1,ngram_val), min_df = minDfs[minDf_idx], max_df = maxDfs[maxDf_idx])

            # convert training data into a bag of words model
            x_train_tfidf = tfidf_v.fit_transform(x_train)
            x_test_tfidf = tfidf_v.transform(x_test)

            # train model and generate predictions
            mnb_classifier.fit(x_train_tfidf, y_train)
            y_pred_tfidf = mnb_classifier.predict(x_test_tfidf)
            
            # compute precision, recall, accuracy and f-1 score
            recall = round(recall_score(y_test, y_pred_tfidf),5)
            precision = round(precision_score(y_test, y_pred_tfidf),5)
            acc = round(accuracy_score(y_test, y_pred_tfidf),5)
            
            # If accuracy score is higher than the highest accuracy score last saved
            if acc > best_tfidf_v_acc:
                # replace last saved vectorizer with current one
                best_tfidf_v = tfidf_v
                best_tfidf_v_acc = acc
            
            result = [minDfs[minDf_idx], maxDfs[maxDf_idx], ngram_val, recall, precision, acc]
            mnb_tfidf_results.append(result)

In [34]:
mnb_tfidf_df = pd.DataFrame (mnb_tfidf_results, columns = ['min_df', 'max_df', 'ngam_range', 'recall', 'precision', 'accuracy score'])
mnb_tfidf_df = mnb_tfidf_df.sort_values(by=['accuracy score'], ascending=False)
mnb_tfidf_df.head(10)

    min_df  max_df  ngam_range   recall  precision  accuracy score
31       2    0.99           2  0.97416    0.98313         0.97876
32       2    0.98           2  0.97416    0.98313         0.97876
33       2    0.97           2  0.97416    0.98313         0.97876
34       2    0.96           2  0.97416    0.98313         0.97876
30       2    1.00           2  0.97416    0.98313         0.97876
40       4    1.00           2  0.97416    0.98162         0.97800
36       3    0.99           2  0.97416    0.98162         0.97800
37       3    0.98           2  0.97416    0.98162         0.97800
38       3    0.97           2  0.97416    0.98162         0.97800
39       3    0.96           2  0.97416    0.98162         0.97800

Out of 125 combinations of different min_df, max_df and gram_range values, the following combination used for the hyperparameters of TfidfVectorizer give the best accuracy score for the naive bayes classifier:
    
min_df = 2 <br>
max_df = 0.96 (default) <br>
ngram_range = (1,3)

### Multinomial Naive Bayes

In [40]:
tuned_mnb_results_count = []

count_v = best_cv
x_train_count = count_v.fit_transform(x_train)
x_test_count = count_v.transform(x_test)

best_cv_mnb = MultinomialNB();
best_cv_mnb_acc = -1;

for alpha_val in np.arange(0.0, 1.0, 0.1):
    #Initialize Multinomial NB tuning classifier to accommodate incrementing alpha value
    mnb_classifier_tuned = MultinomialNB(alpha = alpha_val, fit_prior = True)
    #Fitting the X_train and y_train data into the classifier for training
    mnb_classifier_tuned.fit(x_train_count,y_train)
    #Predict the y_pred set using the X_test set using the tuning classifier
    y_pred = mnb_classifier_tuned.predict(x_test_count)
    
    # compute precision, recall, accuracy and f-1 score
    recall = round(recall_score(y_test, y_pred),5)
    precision = round(precision_score(y_test, y_pred),5)
    acc = round(accuracy_score(y_test, y_pred),5)
    
    # If accuracy score is higher than the highest accuracy score last saved
    if acc > best_cv_mnb_acc:
        # replace last saved vectorizer with current one
        best_cv_mnb = mnb_classifier_tuned
        best_cv_mnb_acc = acc

    result = [alpha_val, recall, precision, acc]
    tuned_mnb_results_count.append(result)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\naive_bayes.py:508: UserWarning: alpha too small will result in numeric errors, setting alpha = 1.0e-10
  warnings.warn('alpha too small will result in numeric errors, '

In [45]:
cv_mnb_df = pd.DataFrame (tuned_mnb_results_count, columns = ['alpha', 'recall', 'precision', 'accuracy score'])
cv_mnb_df = cv_mnb_df.sort_values(by=['accuracy score'], ascending=False)
cv_mnb_df.head(10)

   alpha   recall  precision  accuracy score
0    0.0  0.98328    0.98779         0.98558
1    0.1  0.98480    0.98182         0.98331
6    0.6  0.98328    0.98328         0.98331
2    0.2  0.98176    0.98326         0.98255
4    0.4  0.98176    0.98326         0.98255
5    0.5  0.98176    0.98326         0.98255
7    0.7  0.98176    0.98326         0.98255
3    0.3  0.98176    0.98176         0.98179
8    0.8  0.98024    0.98323         0.98179
9    0.9  0.98024    0.98323         0.98179

In [51]:
tuned_mnb_results_tfidf = []

tfidf_v = TfidfVectorizer(ngram_range=(1,5), min_df = 2, max_df = 0.99)
x_train_tfidf = tfidf_v.fit_transform(x_train)
x_test_tfidf = tfidf_v.transform(x_test)


best_tfidf_mnb = MultinomialNB();
best_tfidf_mnb_acc = -1;

for alpha_val in np.arange(0.0, 1.0, 0.1):
    #Initialize Multinomial NB tuning classifier to accommodate incrementing alpha value
    mnb_classifier_tuned = MultinomialNB(alpha = alpha_val, fit_prior = True)
    #Fitting the X_train and y_train data into the classifier for training
    mnb_classifier_tuned.fit(x_train_tfidf,y_train)
    #Predict the y_pred set using the X_test set using the tuning classifier
    y_pred = mnb_classifier_tuned.predict(x_test_tfidf)
    
    # compute precision, recall, accuracy and f-1 score
    recall = round(recall_score(y_test, y_pred),5)
    precision = round(precision_score(y_test, y_pred),5)
    acc = round(accuracy_score(y_test, y_pred),5)
    
    # If accuracy score is higher than the highest accuracy score last saved
    if acc > best_cv_mnb_acc:
        # replace last saved vectorizer with current one
        best_tfidf_mnb = mnb_classifier_tuned
        best_tfidf_mnb_acc = acc
    
    result = [alpha_val, recall, precision, acc]
    tuned_mnb_results_tfidf.append(result)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\naive_bayes.py:508: UserWarning: alpha too small will result in numeric errors, setting alpha = 1.0e-10
  warnings.warn('alpha too small will result in numeric errors, '

In [53]:
tfidf_mnb_df = pd.DataFrame (tuned_mnb_results_tfidf, columns = ['alpha', 'recall', 'precision', 'accuracy score'])
tfidf_mnb_df = tfidf_mnb_df.sort_values(by=['accuracy score'], ascending=False)
tfidf_mnb_df.head(10)

   alpha   recall  precision  accuracy score
0    0.0  0.98176    0.98626         0.98407
1    0.1  0.98936    0.97601         0.98255
2    0.2  0.98784    0.97451         0.98103
3    0.3  0.98784    0.97451         0.98103
4    0.4  0.98632    0.97447         0.98027
5    0.5  0.98480    0.97297         0.97876
6    0.6  0.98328    0.97293         0.97800
7    0.7  0.98328    0.97147         0.97724
8    0.8  0.98024    0.97139         0.97572
9    0.9  0.97872    0.97134         0.97496

# k-folds cross validation
Now let's use K-fold cross validation to objectively measure the accuracy of the classifier.
https://bobbecket.github.io/06-naive-bayes/

In [ ]:
from sklearn.model_selection import cross_val_score

vectorizer = CountVectorizer()
messages = data['processed_text'].values
counts = vectorizer.fit_transform(x_train)
classes = satire_df['satire/not satire'].values


scores = cross_val_score(classifier, counts, classes, cv=5)

# Print the accuracy of each fold:
print(scores)

# Print the mean accuracy of all 5 folds
print(scores.mean())

In [ ]:
text = "America Reminded Of Beef's Existence By Bold New Ad Campaign"

y_pred = mnb_classifier_tuned.predict(tfidf_v.transform([text]))
y_pred

# XGBOOST

In [144]:
pip install xgboost

Collecting xgboost
  Downloading xgboost-1.7.1-py3-none-win_amd64.whl (89.1 MB)
Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (from xgboost) (1.6.2)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (from xgboost) (1.20.1)
Note: you may need to restart the kernel to use updated packages.Installing collected packages: xgboost

Successfully installed xgboost-1.7.1

In [145]:
# importing the relevant modules
import xgboost as xgb

In [ ]:
# Setting the Parameters of the Model
param = {'eta': 0.75,
         'max_depth': 50,
         'objective': 'binary:logitraw'}
# Training the Model
xgb_model = xgb.train(param, xgb_train, num_boost_round = 30)
# Predicting using the Model
y_pred = xgb_model.predict(xgb_test)
y_pred = np.where(np.array(y_pred) > 0.5, 1, 0) # converting them to 1/0’s
# Evaluation of Model
accuracy_score(xgb_test_labels, y_pred)     # 92.47%
f1_score(xgb_test_labels, y_pred)           # 94.83%

# LSTM

## Save the trained model

In [56]:
joblib.dump(best_cv, 'best_mnb_vectorizer.pkl')
joblib.dump(best_cv_mnb, 'best_cv_mnb.pkl')

['best_cv_mnb.pkl']

In [32]:
satire_df.head()

,title,text,satire/not satire,tokenized text,stopwords removed,lemmatized,processed text
0,Maverick Hunter's 'Human Beings As Prey' Plan ...,big-game hunter baron hugo von urwitz conceded...,1,"['big', 'game', 'hunter', 'baron', 'hugo', 'vo...","['big', 'game', 'hunter', 'baron', 'hugo', 'vo...","['big', 'game', 'hunter', 'baron', 'hugo', 'vo...",big game hunter baron hugo von urwitz conceded...
1,Scientists Make Unclear Breakthrough After Giv...,theorizing that their work most likely represe...,1,"['theorizing', 'that', 'their', 'work', 'most'...","['theorizing', 'work', 'likely', 'represents',...","['theorizing', 'work', 'likely', 'represents',...",theorizing work likely represents groundbreaki...
2,Astronomers Discover Planet Identical To Earth...,in what many are hailing as the most significa...,1,"['in', 'what', 'many', 'are', 'hailing', 'as',...","['many', 'hailing', 'significant', 'developmen...","['many', 'hailing', 'significant', 'developmen...",many hailing significant development history s...
3,Every Brand Of Alcohol Reminds Man Of A Differ...,"hallandale, fl–randy streeter, a 32-year-old s...",1,"['hallandale', 'fl', 'randy', 'streeter', 'a',...","['hallandale', 'fl', 'randy', 'streeter', 'yea...","['hallandale', 'fl', 'randy', 'streeter', 'yea...",hallandale fl randy streeter year old sale ass...
4,Archaeologists Discover Remnants Of Legendary ...,archaeologists excavating the train tracks out...,1,"['archaeologists', 'excavating', 'the', 'train...","['archaeologists', 'excavating', 'train', 'tra...","['archaeologist', 'excavating', 'train', 'trac...",archaeologist excavating train track quarry an...

# Build web application interface

In [57]:
pip install flask-bootstrap

Requirement already satisfied: flask-bootstrap in c:\programdata\anaconda3\lib\site-packages (3.3.7.1)
Requirement already satisfied: Flask>=0.8 in c:\programdata\anaconda3\lib\site-packages (from flask-bootstrap) (1.1.2)
Requirement already satisfied: dominate in c:\programdata\anaconda3\lib\site-packages (from flask-bootstrap) (2.7.0)
Requirement already satisfied: visitor in c:\programdata\anaconda3\lib\site-packages (from flask-bootstrap) (0.1.3)
Requirement already satisfied: itsdangerous>=0.24 in c:\programdata\anaconda3\lib\site-packages (from Flask>=0.8->flask-bootstrap) (1.1.0)
Requirement already satisfied: Jinja2>=2.10.1 in c:\programdata\anaconda3\lib\site-packages (from Flask>=0.8->flask-bootstrap) (2.11.3)
Requirement already satisfied: Werkzeug>=0.15 in c:\programdata\anaconda3\lib\site-packages (from Flask>=0.8->flask-bootstrap) (1.0.1)
Requirement already satisfied: click>=5.1 in c:\programdata\anaconda3\lib\site-packages (from Flask>=0.8->flask-bootstrap) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in c:\programdata\anaconda3\lib\site-packages (from Jinja2>=2.10.1->Flask>=0.8->flask-bootstrap) (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import flask
from flask import Flask, render_template, request, url_for
from flask_bootstrap import Bootstrap 
import pickle
import joblib

In [82]:
best_mnb_vectorizer = open('best_mnb_vectorizer.pkl','rb')
best_cv_mnb = open('best_cv_mnb.pkl','rb')

best_cv_mnb = joblib.load(best_cv_mnb)
best_mnb_vectorizer = joblib.load(best_mnb_vectorizer)

In [13]:
def predict_satire(text):
    result = best_cv_mnb.predict(best_mnb_vectorizer.transform([text]))
    return(result[0])

In [12]:
app = Flask(__name__ )

@app.route('/')
def home():
    return render_template('main.html')

@app.route('/about')
def index():
    return render_template('about.html')

@app.route('/result',methods=['POST'])
def predict():
    if request.method == 'POST':
        
        article = request.form['article']
        result = predict_satire(article)
        return render_template('result.html',satire_prediction = result)

if __name__ == '__main__':
    app.run()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [25/Nov/2022 00:37:34] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [25/Nov/2022 00:37:36] "POST /result HTTP/1.1" 200 -

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

final_textcorpus = [
'donald trump sends embarrassing new year eve message disturbing', 
 'drunk bragging trump staffer started russian collusion investigation', 
 'sheriff david clarke becomes internet joke threatening poke people eye', 
 'trump obsessed even obama name coded website image', 
 'pope francis called donald trump christmas speech', 
 'racist alabama cop brutalize black boy handcuff graphic image', 
 'fresh golf course trump lash fbi deputy director james comey', 
 'trump said insanely racist stuff inside oval office witness back', 
 'former cia director slam trump un bullying openly suggests acting like dictator tweet', 
 'watch brand new pro trump ad feature much kissing make sick', 
 'papa john founder retires figure racism bad business', 
 'watch paul ryan told u care struggling family living blue state', 
 'bad news trump mitch mcconnell say repealing obamacare', 
 'watch lindsey graham trash medium portraying trump kooky forgets word', 
 'heiress disney empire know gop scammed u shred tax bill'
]

count_vect = CountVectorizer(max_features=5000, ngram_range=(2,2))

#convert to bag of words first
all_X = count_vect.fit_transform(final_textcorpus).toarray() -->gives nd array
all_y = allnews_data['Real/Fake']
#train,test split
X_train, X_test, y_train, y_test = train_test_split(all_X, all_y, test_size = 0.33, random_state = 0)
#Fitting the X_train and y_train data into the classifier for training
mult_NB_classifier.fit(X_train, y_train)





#train test split first, then convert training data to bag of words
X = list(df['Text'])
y = list(df['Sentiment'])
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

count_vect = CountVectorizer(ngram_range=(1,N))
x_train_cv = count_vect.fit_transform(x_train) --> gives matrix
x_test_cv = count_vect.transform(x_test)

MNB_classifier.fit(x_train_cv, y_train)
y_pred = MNB_classifier.predict(x_test_cv)

In [81]:
text = 'former cia director slam trump'


y_pred = classifier.predict(vectorizer.transform([text]))
y_pred

numpy.int32